#xxx{

    background:green;
    display:block;
 
 }
     body{
       margin:0px;
     }
 
 .actions{
   position:fixed;
   bottom:0;
   left:0;
 }
 .actions > #pen{
   display:none;
 }
 
 .actions.x > #pen{
   display:inline-block;
 }
 
 .actions.x > #eraser{
   display:none;
 }
 